<footer>
  <div id="footer-grid-container">
    <mat-grid-list
      [cols]="currentScreenSize"
      rowHeight="50px"
      gutterSize="14px"
    >
      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>

      <mat-grid-tile>
        <p>About</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <p id="copyright-notice">© 2018 - {{ currentYear }} InfoGem - Informática</p>
</footer>
